In [3]:
l=[1,12,3,3,13,2,1,4,"Shilpam","Rahul",5,"Shilpam",5,13]
l

[1, 12, 3, 3, 13, 2, 1, 4, 'Shilpam', 'Rahul', 5, 'Shilpam', 5, 13]

In [4]:
s=set(l)
s # insertion order not maintained i.e. keep things in random order
# good for searching O(n)

{1, 2, 3, 4, 5, 12, 13, 'Shilpam', 'Rahul'}

In [5]:
len(s)

9

In [8]:
14 not in s

True

In [7]:
5 in s # O(1)

True

In [10]:
s1={1,5,7,3,9,'Rahul','shipu'}
s2=set([25,20,14,17,'Shilpam Priyadarshi'])
s1

{1, 3, 5, 7, 9, 'shipu', 'Rahul'}

In [11]:
s2

{14, 17, 20, 25, 'Shilpam Priyadarshi'}

In [13]:
s.isdisjoint(s1) # checks if set has no common elements than True

False

In [14]:
s.isdisjoint(s2)

True

In [16]:
s3={'Shilpam',1,2,5}
s3

{1, 2, 'Shilpam', 5}

In [18]:
s3.issubset(s) # check if s3 is subset of s

True

In [20]:
s3 <= s # equivalet to issubset method
# similarly you can use >=, >, < and issuperset

True

In [22]:
print(s1)
print(s3)
print(s1 & s3) #intersection
print(s1 | s3) #union
print(s1 - s3) #difference
print(s1 ^ s3) #symmetric_difference -> uncommon elements

{1, 3, 5, 7, 9, 'shipu', 'Rahul'}
{1, 2, 'Shilpam', 5}
{1, 5}
{1, 2, 3, 5, 7, 9, 'shipu', 'Shilpam', 'Rahul'}
{3, 7, 9, 'shipu', 'Rahul'}
{2, 3, 7, 9, 'shipu', 'Shilpam', 'Rahul'}

In [23]:
s4 = s.copy() # shallow copy
s5 = s # deep copy -> it copies address of object(deeply connected)
print(s)

{1, 2, 3, 4, 5, 12, 13, 'Shilpam', 'Rahul'}

In [24]:
s4.add(10)
s4

{1, 2, 3, 4, 5, 10, 12, 13, 'Shilpam', 'Rahul'}

In [25]:
s

{1, 2, 3, 4, 5, 12, 13, 'Shilpam', 'Rahul'}

In [26]:
s5.add(6)
print(s)
print(s5)

{1, 2, 3, 4, 5, 6, 12, 13, 'Shilpam', 'Rahul'}
{1, 2, 3, 4, 5, 6, 12, 13, 'Shilpam', 'Rahul'}

In [27]:
print(s)
print(s1)
print(s2)
print(s3)
print(s4)
s1 &= s #intersection_update
s2 |= s #update
s3 -= s #difference_update
s4 ^= s #symmetric_difference_update -> uncommon elements update
print(s)
print(s1)
print(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5, 6, 12, 13, 'Shilpam', 'Rahul'}
{1, 3, 5, 7, 9, 'shipu', 'Rahul'}
{14, 17, 20, 25, 'Shilpam Priyadarshi'}
{1, 2, 'Shilpam', 5}
{1, 2, 3, 4, 5, 10, 12, 13, 'Shilpam', 'Rahul'}
{1, 2, 3, 4, 5, 6, 12, 13, 'Shilpam', 'Rahul'}
{1, 3, 'Rahul', 5}
{1, 2, 3, 4, 5, 6, 'Rahul', 12, 13, 14, 17, 20, 25, 'Shilpam', 'Shilpam Priyadarshi'}
set()
{6, 10}

In [28]:
s.add('Shilpam Priyadarshi') # add element to set
print(s)
s.remove('Shilpam') # Remove element elem from the set. Raises KeyError if elem is not contained in the set.
print(s)
s.discard('Rahul') # Remove element elem from the set if it is present. Safe operation
print(s)
print(s.pop()) # Remove and return an arbitrary element from the set. Raises KeyError if the set is empty.
s.clear() # empty set
print(s)

{1, 2, 3, 4, 5, 6, 'Shilpam Priyadarshi', 12, 13, 'Shilpam', 'Rahul'}
{1, 2, 3, 4, 5, 6, 'Shilpam Priyadarshi', 12, 13, 'Rahul'}
{1, 2, 3, 4, 5, 6, 'Shilpam Priyadarshi', 12, 13}
1
set()